.splash {
    background-color: #2941ab;
    background-image: url(https://www-growth.scdn.co/static/home/bursts-mobile.svg);
    background-size: 175%;
    background-position: 46% 4%;
    min-height: 846px;
    background-repeat: no-repeat;
    background-size: 215%;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    
}
.intro {
    box-sizing: border-box;
    display: block;
}
.heder {
    display: block;
    color: var(--text-bright-accent,#1ed760);
    font-size: 2em;
    font-weight: 900;
    letter-spacing: -1.75px;
    line-height: 56px;
    width: 312px;
    margin: 0 auto ;
}

p{
    color: var(--text-bright-accent,#117a37);
    --text-bright-accent: #1ed760;
    font-weight: 500;
    margin-top: -1px;
}
.button {
    border: 2px  ;
    background-color: #2ec766;
    padding: 16px 0;
    border-radius: 30px;
    margin: 0 310px;
    font-size: 14px;
    font-weight: 555;
    color: #2941ab;
    margin-top: 10px;
}
@media (min-width: 480px) {
    .splash {
        background-image: url(https://www-growth.scdn.co/static/home/bursts-tablet.svg);
        background-size: 153%;
        background-position: right 40% center;
        justify-content: center;
    }
    .heder {
        width: 754px;
        font-size: 104px;
        line-height: 104px;
        padding-bottom: 24px;
    }
}
@media (min-width: 768px) {
    .intro {
        color: red;

    }
    .heder {
        font-size: 110px;
        line-height: 95px;
        letter-spacing: -2px;
        
    }

    .button {
        width: 250px;
    }
}
@media (min-width: 992px) {
    .heder {
        font-size: 100px;
        line-height: 110px;
    }
    .support {
        width: 350px;
        transform: translate(225px, 0px);
    }
    .button {
        margin-top: 40px;
        width: 175px;
    }
}
@media (min-width: 1200px) {
    .splash {
        background-image: url(https://www-growth.scdn.co/static/home/bursts.svg);
        background-size: 175%;
        background-position: 46% 4%;
        -webkit-box-pack: center;
        justify-content: center;
        min-height: 846px;
    }
    .heder {
        width: 800px;
        font-size: 156px;
        line-height: 166px;
        padding-bottom: 40px;
        text-indent: -3.3em;
        transform: translate(125px, 0px);
        letter-spacing: -0.04em !important;
    }
    .button {
        margin-top: 40px;
        width: 175px;
    }
}


