.footer {
    background-color: #000;
    height: 530px;
    color: #ffffff;
    padding: 80px 0 50px 0;
    display: flex;
    justify-content: center;
}
.container {
    width: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.top__content {
    display: flex;
    flex-direction: row;        
    justify-content: center;
}
.footlogo {
    height: 45px;
    width: 130px;
    left: 20px;
}
.categories {
    margin: 7px 0 0 30px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    
}
#company,
#communities,
#useful__links {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #bbbbbb;
}
.list__items{
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: .5px;
}
.icons {
    margin: 18px 0 0 115px;
    font-size: 21px;
    padding-left: 50px;
}
#fb {
    width: 22px;
}
#ig,
#twt,
#fb {
    color: #ffffff;
    background-color: #2e2c2c;
    border-radius: 50%;
    margin-right: 15px;
    padding: 16px;
}
.bottom {
    width: 100%;
    font-size: 12px;
    font-weight: 400;
    color: #bbbbbb;
    margin-top: 70px;
}
.country {
    display: flex;
    justify-content: flex-end;
    margin: 0 15px;
}
.other__things {
    display: flex;
    align-items:center ;
}
.partone {
    display: inline;
    padding: 0 0 0 15px;
    width: fit-content;
}
.secondary {
    display: inline;
    margin-right: 25px;
}
.trade {
    margin: 0 15px 0 auto;

}
@media (max-width: 768px) {
    .footer {
        height: auto;
        padding: 40px 0 0 0 ;
        justify-content: flex-start;
    }
    .container {
        margin-left: 20px;
        margin-top: 10px;
        width: none;
    }
    .top__content {
        flex-direction: column;
        justify-content: flex-start;
    }
    .footlogo {
        height: 30px;
        width: 95px;
    }
    .categories{
        margin: 40px 0 0 0;
        padding: 0;
        flex-direction: column;
        gap: 37px;
    }
    .list__items{
        margin-top: 25px;
        font-weight: 500;
        letter-spacing: 0;
    }
    .icons {
        margin: 130px 0 0 0;
        padding: 0;
        font-size: 25px;
    }
    #fb {
        width: 25px;
    }
    #ig,
    #twt,
    #fb {
        color: #ffffff;
        background-color: #2e2c2c;
        border-radius: 50%;
        padding: 9px;
    }
    .bottom {
        font-size: 10px;
        margin-top: 15px;
    }
    .partone {
        padding: 0;
    }
    .trade {
        margin: 0 15px 0 auto;
    }
}
@media (min-width:769px) and (max-width: 992px) {
    .footer {
        height: auto;
        padding: 42px 0 0 0;
    }
    .container {
         margin: 0 15px;
         justify-content: center;
         width: 769px;
    }
    .top__content {
        flex-direction: column;
    }
    .footlogo {
        height: 30px;
        width: 95px;
    }
    .categories {
        margin: 40px 0 100px 0;
        gap: 150px;
        
    }
    #company,
    #communities,
    #useful__links {
    }
    .list__items{
    }
    .icons {
        margin: 0;
        margin-bottom: 15px;
        padding: 0;
        font-size: 26px;
    }
    #fb {
        width: 25px;
        font-size: 24px;
    }
    #ig,
    #twt,
    #fb {
        padding: 8px;
    }
    .bottom {
        margin: 0
    }
    .country {
        margin: 0;
        margin-bottom: -10px;
    }
    .other__things {
        margin: 0;
        align-items: baseline;
    }
    .partone {
        width: 400px;
        padding: 0 0 0 0 ;
    }
    .secondary {
        margin: 0;
        margin-right: 25px;
        line-height: 40px;
        
    }
    .secondary:last-child {
        
    }
    .trade {
       margin-right: 0;
    }
}
@media (min-width: 1200px) {

}