.footer {
    background-color: #000;
    height: 530px;
    color: #ffffff;
    padding: 80px 0 50px 0;
    display: flex;
    justify-content: center;
}
.container {
    width: 970px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
}
.top__content {
    display: flex;
    flex-direction: row;        
    justify-content: center;
}
.footlogo {
    height: 45px;
    width: 130px;
    left: 20px;
}
.categories {
    margin: 7px 0 0 30px;
    display: flex;
    flex-direction: row;
    gap: 64px;
    
}
#company,
#communities,
#useful__links {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 30px;
    color: #bbbbbb;
}
.list__items{
    margin-top: 30px;
    font-size: 15px;
    letter-spacing: .5px;
}
.icons {
    margin: 18px 0 0 115px;
    font-size: 21px;
    padding-left: 50px;
}
#fb {
    width: 22px;
}
#ig,
#twt,
#fb {
    color: #ffffff;
    background-color: #2e2c2c;
    border-radius: 50%;
    margin-right: 15px;
    padding: 16px;
}
.bottom {
    font-size: 12px;
    font-weight: 400;
    color: #bbbbbb;
}
.other__things {
    display: flex;
    gap: 25px;
}